[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
langsmith = "*"
python-dotenv = "*"
langchain-openai = "*"
langchain-core = "*"
ipython = "*"
tavily-python = "*"
langchain-community = "*"
grandalf = "*"

[dev-packages]

[requires]
python_version = "3.12"
